<div class="container">
     <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">{{content}}</p>
            <p class="card-text">{{author}}</p>
            <a href="" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>

        </div>
     </div>
</div>